<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>VCS 404 Page</title>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>


<div class="jumbotron">
    <h1><%= strings.VCSDemo %></h1>
    <p class="lead"><%= strings.ErrorFirstMsg %>
        <br/>
        <%= strings.ErrorSecondMsg %>
    </p>
    <img src="images/404.gif">
</div>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>