<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>VCS Demo Home</title>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>


<div class="jumbotron">
    <h1>VCS Demo!</h1>
    <p class="lead">Welcome to VCS Demo. Here You see some description</p>
    <p><a class="btn btn-lg btn-success" href="/myRooms#" role="button">See your Rooms</a></p>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>