<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>VCS Home</title>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>


<div class="jumbotron">
    <h1><%= strings.VCSDemo %></h1>
    <p class="lead"><%= strings.WelcomeMSG1 %>
        <br/>
        <%= strings.WelcomeMSG2 %>
    </p>
    <p><a class="btn btn-lg btn-success" href="/myRooms#" role="button"><%= strings.SeeRooms %></a></p>
    <img src="/images/study.gif" height="350px">
</div>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>