<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>VCS Demo Home</title>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>


<div class="jumbotron">
    <h1>VCS Demo!</h1>
    <p class="lead">Welcome to VCS Demo. bla bla bla bla bla bla bla bla bla bla bla bla</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>