<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>VCS My Rooms</title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/myRooms.css">
</head>
<body>
<header>
    <% include ../partials/header %>
</header>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">My Rooms</h1>
        <p class="lead text-muted">Here you can see rooms that you can join</p>
    </div>
</section>

<div class="album text-muted">
    <div class="container">
        <div class="row">
            <% for (let i = 0; rooms != undefined && i < rooms.length; i++)  { %>
            <div class="card">
                <img class="card-img-top"
                     src="https://previews.123rf.com/images/iimages/iimages1301/iimages130101248/17443634-Illustration-of-a-teacher-in-the-classroom-Stock-Vector-cartoon.jpg"
                     alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title"><%= rooms[i].name %></h4>
                    <p class="card-text"><%= rooms[i].desc %></p>
                    <a href="/room/<%= rooms[i].id %>" class="btn btn-primary">Enter Room</a>
                </div>
            </div>
            <% if (i != rooms.length - 1 && i % 2 == 1) { %>
        </div>
        <div class="row">
            <% } %>
            <% }; %>
        </div>
    </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>