<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>VCS My Rooms</title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/myRooms.css">
    <script>
        var rooms = <%- JSON.stringify(rooms) %>;
    </script>
    <script src="/scripts/myRooms.js"></script>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">My Rooms</h1>
        <p class="lead text-muted">Here you can see rooms that you can join</p>
    </div>
</section>

<div class="album text-muted">
    <div class="container">
        <script>
            document.write(getRoomsHtml());
        </script>
    </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>