<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>VCS No Access</title>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>

<div class="jumbotron">
    <h1><%= strings.VCSDemo %></h1>
    <p class="lead">
        <br/>
        <%- strings.noAccess %>
    </p>
    <img src="/images/noAccess.gif" style="width: 25%; max-width: 450px">
</div>


<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>