<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>VCS Demo</title>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>

    <main>
        <% include ../partials/board.ejs %>
    </main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>