<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>VCS <%- room._name %></title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/chat.css">
</head>
<body>
<header>
    <% include ../partials/header %>
</header>

    <main>
        <div style="width: 80%;">
            <% include ../partials/board.ejs %>
        </div>
        <div style="width: 20%;">
            <% include ../partials/chat.ejs %>
        </div>
    </main>

<img src="/images/ajax-loader.gif" id="loading-indicator" style="display:none"/>
<script>
    $('#loading-indicator').show();
</script>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>