<script src="https://cdn.geogebra.org/apps/deployggb.js"></script>
<script>
    var strings = <%-JSON.stringify(strings)%>;
    var room = <%-JSON.stringify(room)%>;
</script>
<script src="/scripts/board.js"></script>
<div class="toolBar">
    <input id="name" type="text" placeholder="הכנס את שמך">
    <button id="btnControl" type="button" onclick="lockBoard(_isLocked)" class="btn btn-success"><%- strings.takeControl %></button>
    <span id="userInControl" style="width: 150px;" class="alert alert-info"><%- strings.noOneInControl %></span>
</div>
<div id="applet_container" class="disabled hidden"></div>
<div class="loading"></div>