.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.album {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.card {
    width: 35%;
    height: 40%;
    padding: .75rem;
    text-align: center;
    margin-right: 10%;
    margin-bottom: 2rem;

}

.card > img {
    height: 200px;
    width: 100%;
    max-width: 240px;
    text-align: center;
    margin: 5px auto;
    padding-bottom: 5px;
}

.card-text {
    font-size: 85%;
}

#key {
    background-color: white;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.alert {
    width: 20%;
    display: inline-block;
}

.redBorder {
    border: 5px solid indianred;
}

.blueBorder {
    border: 5px solid dodgerblue;
}

.greenBorder {
    border: 5px solid forestgreen;
}

.orangeBorder {
    border: 5px solid orange;
}

.alertType {
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

@media only screen and (max-width: 60em) {
    .alertType {
        font-size: 70%;
        padding: 0;
    }
}
