.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.toolBar {
    padding: 10px 5px 0px 0px;
    margin: 5px 0px 10px 10px;
    height: 10%;
    text-align: right;
}

.alert {
    height: 60px;
    margin: 0 0 20px;
}


/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

#footer {
    margin-top: 100px;
}

.loading {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background: url("../images/ajax-loader.gif") no-repeat center ;
    background-size: 100%;
}

.hidden {
    display: none;
}